<h2>
  <%= h item.name %>
  
  <span id="<%= dom_id(item, :inline_edit_tool) %>" class="inline-edit-tool">
    <%#= link_to_remote "edit", :url => edit_fie2_item_path(item), :method => :get %>
    <%#= link_to_remote "destroy", :url => fie2_item_path(item), :confirm => "Are you sure?", :method => :delete %>
    <%= link_to "edit", edit_fie2_item_path(item), :class => 'h-get' %>
    <%= link_to "destroy", fie2_item_path(item), :class => "h-delete {confirm: 'Are you sure delete?' }" %>
  <span>
        
</h2>

<p><%=h item.description %></p>