<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>R4</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= yield :page_specific_link %>
  <%= stylesheet_link_tag "blueprint/screen", "blueprint/plugins/buttons/screen", "forms", "main", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= yield :page_specific_css %>
</head>
<body>
<div class="container">  
  <h1><a href="/">Web App interfaces</a></h1>
  <%= yield %>
</div>

<%= javascript_include_tag "jquery",
                           "jquery-ui",
                           "jrails",
                           "application", :cache => 'all' %>
<%= yield :page_specific_javascript %>
</body>
</html>